{% extends 'default_theme/base/__base.html' %}
{% load staticfiles %} 
{% block Style_sheets %}
{% endblock Style_sheets %}
{% load widget_tweaks %}

 {% load django_tables2 crispy_forms_tags %}
 {% load render_table from django_tables2 %}
 {% block Content_Area %}
  <section class="content">
      <!-- Small boxes (Stat box) -->
   	 <div class="box box-default">
        <div class="box-header with-border">
          <h3 class="box-title">Dashboard</h3>
          <div class="box-tools pull-right">
          </div>
        </div>
    <!-- form start -->
  
   <div class="row">
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="info-box">
            <span class="info-box-icon bg-aqua"><i class="fa fa-users"></i></span>
            <div class="info-box-content">
              <span class="info-box-text">Contact us</span>
              <span class="info-box-number">
              <a href="/trademaster/contactlist/">{{tradeuser}}</a>
            </span>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="info-box">
            <span class="info-box-icon bg-aqua"><i class="fa fa-envelope"></i></span>
            <div class="info-box-content">
              <span class="info-box-text">Today Subscribe User</span>
              <span class="info-box-number">
              <a href="/support/subscribelist/">{{newsletter}}</a>
            </span>
            </div>
          </div>
        </div>
    </div>
   </div> 
  </section>
 {% endblock Content_Area %}
 {% block Java_Scripts %}
 {% endblock %}


