{% extends 'default_theme/front/__staticbase.html' %}
{% load staticfiles %} 
{% block Style_sheets %}
{% endblock Style_sheets %}
{% load widget_tweaks %}
{% block Content_Area %}
      <main>
      
         <div class="how-all-start-section">
            <div class="container">
             
             
               <div class="row justify-content-center">
                  <div class="col-xs-12 col-sm-12 col-md-12">
                     <div class="bbf-whitepaper-m mt-5">
                        <h1 class="section_big_heading text-center width_half">Marketing Video</h1>
                        <div> </div>
                     </div>
                  </div>
                 
                  
               </div>
               <div class="row aos-init aos-animate" data-aos="zoom-in">
                  {% if blogqs %}
                  {% for i in blogqs %}
                  <div class="col-xs-4 col-sm-4 col-md-4">
                     <div class="mt-3">
                        <div class="ratio ratio-16x9 justify-content-center d-flex">
                           {% if i.videourl %}
                           <iframe src="{{ i.videourl }}" title="YouTube video" allowfullscreen="" style="height: 240px;width: 85%;"></iframe>
                           {% else %}
                           <iframe src="#" title="YouTube video" allowfullscreen="" style="height: 240px;width: 85%;"></iframe>
                           {% endif %}
                        </div>
                         <h5 class="mt-3 ml-4">{{ i.videotitle }}</h5>
                     </div>
                    
                  </div>
                  {% endfor %}
                  {% else %}
                  <h3>No Videos</h3>
                  {% endif %}
               </div>
            </div>
         </div>
      
         </div>
          
      </main>
{% endblock Content_Area %}
{% block Java_Scripts %}
{% endblock %}