{% extends 'default_theme/front/__staticbase.html' %}
{% load staticfiles %} 
{% block Style_sheets %}
{% endblock Style_sheets %}
{% load widget_tweaks %}
{% block Content_Area %}
      <main>
         
        <div class="howto-buy-bbf-section">
    <div class="container">


<div class="row align-items-center">
  <div class="col-xs-12 col-sm-12 col-md-12">
          <div class="common_para">
            <h1 class="section_big_heading text-center width_half">{{ Title }}</h1>
            <div> </div>
          </div>
        </div>

        
   <div class="timeline">
  <ul>
    {% if roadmap %}
      {% for i in roadmap %}
    <li>
      
      <div class="right_content">
        <h2>{{ i.title }}</h2>
        <p>
          
          {{ i.content|linebreaks }}
        
        </p>
      </div>
      <div class="left_content">
        <h3 >{{ i.years }}</h3>
      </div>
     
    </li>
     {% endfor %}
      {% else %}
      <p>
        <h2>No RoadMaps</h2>
      </p>
      {% endif %}
    <div style="clear:both;"></div>
  </ul>
</div>
       


                    <!--.Carousel-->

                </div>
      
        
          
        
        </div>


    </div>
  </div>
      </main>
{% endblock Content_Area %}
{% block Java_Scripts %}
<script src="{% static "frontend_assets/js/viewportchecker.js"%}"></script>

<!-- <script src="js/script.js"></script> -->
<script type="text/javascript" src="{% static "frontend_assets/js/jquery.scrollbox.js"%}"></script>
<script>
   function openCity(evt, cityName) {
     var i, tabcontent_plan, tablinks;
     tabcontent_plan = document.getElementsByClassName("tabcontent_plan");
     for (i = 0; i < tabcontent_plan.length; i++) {
       tabcontent_plan[i].style.display = "none";
     }
     tablinks = document.getElementsByClassName("tablinks");
     for (i = 0; i < tablinks.length; i++) {
       tablinks[i].className = tablinks[i].className.replace(" active", "");
     }
     document.getElementById(cityName).style.display = "block";
     evt.currentTarget.className += " active";
   }
</script>
  <script type="text/javascript">
        $(document).ready(function () {
    var itemsMainDiv = ('.MultiCarousel');
    var itemsDiv = ('.MultiCarousel-inner');
    var itemWidth = "";

    $('.leftLst, .rightLst').click(function () {
        var condition = $(this).hasClass("leftLst");
        if (condition)
            click(0, this);
        else
            click(1, this)
    });

    ResCarouselSize();




    $(window).resize(function () {
        ResCarouselSize();
    });

    //this function define the size of the items
    function ResCarouselSize() {
        var incno = 0;
        var dataItems = ("data-items");
        var itemClass = ('.item');
        var id = 0;
        var btnParentSb = '';
        var itemsSplit = '';
        var sampwidth = $(itemsMainDiv).width();
        var bodyWidth = $('body').width();
        $(itemsDiv).each(function () {
            id = id + 1;
            var itemNumbers = $(this).find(itemClass).length;
            btnParentSb = $(this).parent().attr(dataItems);
            itemsSplit = btnParentSb.split(',');
            $(this).parent().attr("id", "MultiCarousel" + id);


            if (bodyWidth >= 1200) {
                incno = itemsSplit[3];
                itemWidth = sampwidth / incno;
            }
            else if (bodyWidth >= 992) {
                incno = itemsSplit[2];
                itemWidth = sampwidth / incno;
            }
            else if (bodyWidth >= 768) {
                incno = itemsSplit[1];
                itemWidth = sampwidth / incno;
            }
            else {
                incno = itemsSplit[0];
                itemWidth = sampwidth / incno;
            }
            $(this).css({ 'transform': 'translateX(0px)', 'width': itemWidth * itemNumbers });
            $(this).find(itemClass).each(function () {
                $(this).outerWidth(itemWidth);
            });

            $(".leftLst").addClass("over");
            $(".rightLst").removeClass("over");

        });
    }


    //this function used to move the items
    function ResCarousel(e, el, s) {
        var leftBtn = ('.leftLst');
        var rightBtn = ('.rightLst');
        var translateXval = '';
        var divStyle = $(el + ' ' + itemsDiv).css('transform');
        var values = divStyle.match(/-?[\d\.]+/g);
        var xds = Math.abs(values[4]);
        if (e == 0) {
            translateXval = parseInt(xds) - parseInt(itemWidth * s);
            $(el + ' ' + rightBtn).removeClass("over");

            if (translateXval <= itemWidth / 2) {
                translateXval = 0;
                $(el + ' ' + leftBtn).addClass("over");
            }
        }
        else if (e == 1) {
            var itemsCondition = $(el).find(itemsDiv).width() - $(el).width();
            translateXval = parseInt(xds) + parseInt(itemWidth * s);
            $(el + ' ' + leftBtn).removeClass("over");

            if (translateXval >= itemsCondition - itemWidth / 2) {
                translateXval = itemsCondition;
                $(el + ' ' + rightBtn).addClass("over");
            }
        }
        $(el + ' ' + itemsDiv).css('transform', 'translateX(' + -translateXval + 'px)');
    }

    //It is used to get some elements from btn
    function click(ell, ee) {
        var Parent = "#" + $(ee).parent().attr("id");
        var slide = $(Parent).attr("data-slide");
        ResCarousel(ell, Parent, slide);
    }

});
    </script> 
    
<script src="{% static "frontend_assets/js/jquery.min.js"%}"></script>
<script src="{% static "frontend_assets/js/aos.js"%}"></script>
<script src="{% static "frontend_assets/js/main.js"%}"></script>
<script src="{% static "frontend_assets/lobibox/js/lobibox.min.js" %}"></script>
{% endblock %}


