{% load staticfiles %}


<div class="modal" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <!-- <div class="modal fade primaryModal show" id="exchangewallet" style="display: block; padding-right: 17px;" aria-modal="true"> -->
            <div class="modal-dialog modal-dialog-centered">
               <div class="modal-content">
                  <!-- Modal Header -->
                  <div class="modal-header align-items-center">
                     <h4 class="modal-title">Connect to a wallet</h4>
                     <button type="button" class="close" data-dismiss="modal">
                      <img src="{% static "frontend_assets/images/close.png"%}" alt="closesss" class="">
                     </button>
                  </div>
                  <!-- Modal body -->
                   <div class="modal-body swpExTabBody">
            <form>
               <div class="d-flex flex-wrap align-items-center justify-content-between swpExTabHead bg_gray click_metamaskclscc" id="click_metamaskq">
                  <div class="swpExTabHead_text mt-2">
                     <h4 class="text-red-gradient">Metamask</h4>
                  </div>
                  <div class="swpExTabHead_icon">
                     <img src="{% static "frontend_assets/images/m1.png"%}" alt="settings">
                  </div>
               </div>
               {% comment %}
               <div class="d-flex flex-wrap align-items-center justify-content-between swpExTabHead bg_gray">
                  <div class="swpExTabHead_text mt-2">
                     <h4 class="text-red-gradient">Trust Wallet</h4>
                  </div>
                  <div class="swpExTabHead_icon">
                     <img src="{% static "frontend_assets/images/m2.png"%}" alt="settings">
                  </div>
               </div>
               <div class="d-flex flex-wrap align-items-center justify-content-between swpExTabHead new_img bg_gray">
                  <div class="swpExTabHead_text mt-2">
                     <h4 class="text-red-gradient">Math Wallet</h4>
                  </div>
                  <div class="swpExTabHead_icon">
                     <img src="{% static "frontend_assets/images/m3.png"%}" alt="settings">
                  </div>
               </div>
               <div class="d-flex flex-wrap align-items-center justify-content-between swpExTabHead bg_gray">
                  <div class="swpExTabHead_text mt-2">
                     <h4 class="text-red-gradient">Token Pocket</h4>
                  </div>
                  <div class="swpExTabHead_icon">
                     <img src="{% static "frontend_assets/images/m4.png"%}" alt="settings">
                  </div>
               </div>
               <div class="d-flex flex-wrap align-items-center justify-content-between swpExTabHead bg_gray">
                  <div class="swpExTabHead_text mt-2">
                     <h4 class="text-red-gradient">Wallet Connect</h4>
                  </div>
                  <div class="swpExTabHead_icon">
                     <img src="{% static "frontend_assets/images/m5.png"%}" alt="settings">
                  </div>
               </div>
               <div class="d-flex flex-wrap align-items-center justify-content-between swpExTabHead bg_gray">
                  <div class="swpExTabHead_text mt-2">
                     <h4 class="text-red-gradient">Token Pocket</h4>
                  </div>
                  <div class="swpExTabHead_icon">
                     <img src="{% static "frontend_assets/images/m4.png"%}" alt="settings">
                  </div>
               </div>
               {% endcomment %}
            </form>
         </div>
               </div>
            </div>
         </div>


