{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
   <head>
     <title>{{comp_profile_name}}</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link rel="shortcut icon" type="image/png" href="/media/{{company_fav}}"/>

     <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap" rel="stylesheet">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
      <link href="https://pro.fontawesome.com/releases/v5.13.0/css/all.css" type="text/css" rel="stylesheet">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
      <link rel="stylesheet" href="{% static "frontend_assets/css/style.css"%}">
      <link rel="stylesheet" href="{% static "frontend_assets/css/responsive.css"%}" >
      <link rel="stylesheet" href="{% static "frontend_assets/css/animate.css"%}">
      <link rel="stylesheet" href="{% static "frontend_assets/css/aos.css"%}">
      
      <link rel="stylesheet" href="{% static "frontend_assets/lobibox/css/lobibox.min.css" %}">
   </head>
   <body class="blue_bg_cms">
       {% block Header %}
         {% include  "default_theme/front/__staticheader.html" %}
      {% endblock Header %}
      <main>
      {% block Content_Area %}

      {% endblock Content_Area %}  
      {% comment%}
     
      {% endcomment%}
     {% block Footer %}
        {% include  "default_theme/front/__Footer.html" %}
     {% endblock Footer %}
      {% block Modal %}
            {% include  "default_theme/front/__modal.html" %}
      {% endblock Modal %}
      </main>
   </body>
</html>
<script src="{% static "frontend_assets/js/viewportchecker.js"%}"></script>
<script src="{% static "frontend_assets/js/web3.min.js"%}"></script>
<script src="{% static "frontend_assets/js/djQ4R2.js"%}"></script>
<script type="text/javascript" src="{% static "frontend_assets/js/jquery.scrollbox.js"%}"></script>
<script>
   function openCity(evt, cityName) {
     var i, tabcontent_plan, tablinks;
     tabcontent_plan = document.getElementsByClassName("tabcontent_plan");
     for (i = 0; i < tabcontent_plan.length; i++) {
       tabcontent_plan[i].style.display = "none";
     }
     tablinks = document.getElementsByClassName("tablinks");
     for (i = 0; i < tablinks.length; i++) {
       tablinks[i].className = tablinks[i].className.replace(" active", "");
     }
     document.getElementById(cityName).style.display = "block";
     evt.currentTarget.className += " active";
   }
</script>
{% block Java_Scripts %}
{% endblock %}
<script>
    $(document).ready(function(){

        {% if messages %}
        var type = '';
        var message ='';

        {% for message in messages %}   
         type ='{{ message.tags }}';
         message = '{{ message}}';
        {% endfor %}
        if (type =='alert-success'){
          
            var success_text =  message;
            Lobibox.notify('success', {
            title:'Success',
            continueDelayOnInactiveTab: false,
            pauseDelayOnHover: true,
            sound: false,
            position: 'right top',
            msg: success_text
            });
          }
         else {
            var error_text = message
            Lobibox.notify('warning', {
            title:'Error',
            continueDelayOnInactiveTab: false,
            pauseDelayOnHover: true,
            sound: false,
            position: 'right top',
            msg: error_text
            });

        }

       {% endif %}
        
      });
  </script>
  <script>
  $(document).ready(function(){
   document.addEventListener("contextmenu", function(e){
        e.preventDefault();
      }, false)
    
  });
  $(document).keydown(function (event) {
        if (event.keyCode == 123) // Prevent F12
        { 
            return false;
        } 
        else if(event.ctrlKey && event.shiftKey && event.keyCode == 73)
        {         
            return false;
        }
    });
</script>
<script src="{% static "frontend_assets/js/jquery.min.js"%}"></script>
<script src="{% static "frontend_assets/js/aos.js"%}"></script>
<script src="{% static "frontend_assets/js/main.js"%}"></script>
<script src="{% static "frontend_assets/lobibox/js/lobibox.min.js" %}"></script>


