{% load staticfiles %}
<div class="howto-buy-bbf-section">
            <div class="container">
               <div class="row justify-content-center burn_sec">
                  <div class="col-xs-12 col-sm-4 col-md-4">
                     <div class="howto-buy-bbf-m" data-aos="flip-right">
                        <h2>{{tokenvalue.content|safe}}</h2>
                        <h5>{{tokenvalue.title}}</h5>
                     </div>
                  </div>
                  <div class="col-xs-12 col-sm-4 col-md-4">
                     <div class="howto-buy-bbf-m buy-left-border" data-aos="flip-right">
                        <h2>{{tokenholder.content|safe}} </h2>
                        <h5>{{tokenholder.title}}</h5>
                     </div>
                  </div>
                  <div class="col-xs-12 col-sm-4 col-md-4">
                     <div class="howto-buy-bbf-m buy-left-border" data-aos="flip-right">
                        <h2>{{tokenliquidity.content|safe}}</h2>
                        <h5>{{tokenliquidity.title}}</h5>
                     </div>
                  </div>
               </div>
            </div>
         </div>